body,html{
    padding:0;
    margin:0;
}

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
	
	-webkit-tap-highlight-color: transparent; 
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	
	outline: none;
}

body{
    overflow:hidden;
    background-color:#000;
}

#container{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    font-family: 'Roboto', sans-serif;
}